[Unit]
Description=tsundere firewall service
After=network.target

[Service]
ExecStart=/usr/local/bin/tsundered
ExecStop=/bin/kill -s TERM $MAINPID
User=root
Group=root
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target